# ==================
# OpenTofu State
# ==================

*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.tofu/
*.tfplan
*.plan

# ===========================
# Secrets and Variables
# ===========================
*.tfvars
*.tfvars.json

# Except for the example (non-secret) files
!*.example.tfvars
!*.example.tfvars.json

# ===========================
# SSH Credentials and Keys
# ===========================
*.pem
*.key
*.p12
*.pfx
id_rsa
id_rsa.pub
id_ed25519
id_ed25519*
id_ed25519.pub
id_ed25519*.pub
.env
.env.*
!.env.example

# ===========================
# Code editors
# ===========================
.vscode/
.idea/
*.swp
*.swo
*~